<div class="container">
    <form class="auth-form" action="/validate" name="auth" method="post">
        <h1 class="auth-form__header">
            Авторизация
        </h1>
        <div class="auth-form__login">
            <label class="auth-form__login-label">Логин:</label>
            <input class="auth-form__login-input" name="login"  autocomplete="on" value="{{login}}"></input>
        </div>
        <div class="auth-form__password">
            <label class="auth-form__password-label">Пароль:</label>
            <input class="auth-form__password-input" name="password" type="password" autocomplete="on" value="{{password}}" ></input>
        </div>
        <div class="auth-form__footer">
            <label class="auth-form__msg">{{err}}</label>
            <input class="auth-form__send-btn" type="submit">
        </div>
    </form>
</div