@import '../../../../styles/constants.scss';

.entry {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 420px;
  box-sizing: border-box;
  background-color: rgb(240, 244, 248);
  z-index: 1050;
  padding: 40px 40px 0 20px;
  transition: all 225ms ease;
  transform: translateX(100%);

  &--visible {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
  }

  &__header {
    margin: 0 -10px 14px 0;
    font-family: 'Montserrat', system-ui, sans-serif;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -0.2px;
    line-height: 24px;
  }

  &__mail-entry {
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    white-space: nowrap;
    color: $--color-gray-550;
    cursor: default;
  }
  &__method {
    border-bottom: 1px solid $--color-gray-300;
    padding-bottom: 10px;
  }

  &__exit {
    position: absolute;
    top: 15px;
    right: 22px;
    z-index: 1055;
    display: block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 5px;
    background-color: $--white;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(198, 198, 198, 0.6);
    color: #a2b4cb;
    text-align: center;
    cursor: pointer;
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__toogle {
    padding: 20px 20px 35px 0px;
    margin-top: auto;
    background: none;
    border: 0;
    outline: 0;
    color: #0e88df;
    color: $--link-color;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;

    &:hover {
      color: $--red;
    }
  }
}
