$text-color: #292925ed;
$border-color: #292925ed;
$inputFieldLength: 170px;

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}

.container {
  flex: 1 1 auto;
  padding: 10px;
  display: flex;
  column-gap: 10px;
}

.saved-requests {
  flex: 0 0 400px;
  max-height: 320px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  &__request {
    font-size: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border-radius: 5px;
    border: 2px dotted $border-color;
    background-color: #add8e6;
    cursor: pointer;
  }
}

.request-constructor {
  flex: 1 1 auto;
  padding: 15px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 1px solid rgba(41, 41, 37, 0.4);
  border-radius: 15px;
  overflow-x: hidden;

  &__container {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  &__name-wrapper {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__url-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  &__method-wrapper {
    flex: 0 0 100px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__body-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__body-content {
    min-height: 100px;
    overflow-y: auto;
    word-wrap: break-word;
    resize: none;
  }
  &__control-btns {
    flex: 1 1 auto;
    justify-self: flex-end;
    display: flex;
    column-gap: 10px;
    align-items: flex-start;
    padding-bottom: 15px;
  }

  &__method-dropdown {
    font-size: 12px;

    &-control {
      padding: 3px 52px 3px 3px;
      border: 1px solid $border-color;
      cursor: pointer;
    }
    &-menu {
      border: 1px solid $border-color;
    }
    &-arrow {
      top: 8px;
    }
  }
}

.response {
  &__body {
    &-tab {
      word-wrap: break-word;
    }
  }
}

.kve {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    flex-basis: $inputFieldLength;
  }

  &__dropdown {
    padding: 3px;
    flex-basis: $inputFieldLength;
    border: 1px solid $border-color;
    &-control {
      padding: 0px 25px 0px 0px;
      cursor: pointer;
      border: none;
      color: $text-color;
      font-size: inherit;
      font-weight: inherit;
    }
    &-arrow {
      top: 6px;
    }
  }
}

.button {
  padding: 5px;
  background-color: #80bdff;
  opacity: 0.8;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  &:enabled:active {
    transition: all 200ms ease-out;
    transform: scale(0.9);
  }
}

.label {
  font-size: 14px;
  color: $text-color;
  font-weight: 700;
  cursor: inherit;

  &-btn {
    font-weight: 400;
    cursor: pointer;

    &--small {
      font-size: 12px;
    }
    &--normal {
      font-size: 14px;
    }
    &--green {
      color: #499680;
    }
    &--red {
      color: #ff2024;
    }

    &--bold {
      font-weight: 500;
    }
  }
}

.input {
  border: 1px solid $border-color;
  border-radius: 2px;
  padding: 3px;
  font-size: 12px;
  font-weight: 400;
  color: $text-color;
}
