@import '../../constants.scss';

.content {
  width: display flex;
  width: 1240px;
  margin: 0 auto;

  &__layout {
    width: 905px;
  }
}
.general {
  display: flex;

  &__header {
    font-family: 'Montserrat', system-ui, sans-serif;
    flex: 0 0 500px;
    color: $--color-gray-600;
    font-size: 32px;
    font-weight: 800;
    line-height: 34px;
  }
}

.catalog {
  &__list {
    display: flex;
  }

  &__items {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__amount {
    padding-left: 8px;
    color: $--color-gray-350;
    font-size: 12px;
    letter-spacing: 0.08px;
  }
}
